/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  position: absolute;
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  animation-name: dropIn;
  animation-duration: 1.5s;
}

@keyframes dropIn {

  from {
    top: -400px;
  }

  to {
    top: 0;
  }

}

/* make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background: blue;
}

.p2 {
  background: red;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
